
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <title>PayPal Node App</title>
</head>
<body>
  <div class="m-5 d-flex justify-content-center"></div>
  <h1 class="m-5">New PS4</h1>
  <h2 >Buy For $250.00</h2>
  <form class="form " action="/pay" method="post">
    <input class=" m-5 btn btn-primary" type="submit" value="Buy">
  </form>
</body>
</html>
